.sidebarToggler{
    width: 20px;
}

.contentTopTitle{
    color: var(--clr-white);
    font-size: 18px;
    font-weight: 600;
    padding-top: 5px;
}
.contentTopBtn{
    margin-right: 18px;
}
.contentTopBtn img {
    width: 24px;
}

.contentTopBtn img:hover{
    filter: brightness(0) invert(1);
}
